.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container a{
    color: var(--green-1);
}

.login-form {
    background-color: var(--off-white);
    padding: 50px 50px 20px 50px;
    width: 50%;
    text-align: center;
}

.login-form input {
    max-width: 20vw;
    min-width: 200px;
}

#remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
   text-align: center;
}