/* Colours */
:root {
    --white: #ffffff;
    --black: #000000;
    --off-white: #d2f7e8;
    --green-1: #2ebeab;
    --green-2: #05d0b5;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    padding-left: 20px;
    display: flex;
    justify-content: space-between; /* Change to space-between */
    align-items: center;
    background-color: var(--off-white);

}

#nav-img {
    height: 200px;
    width: auto;
    border: solid var(--black);
    /* {% comment %} <img id='nav-img' src="../static/logo-images/png/logo-black.png" alt="Summit Savvy Logo"> {% endcomment %} */
}

.nav-links {
    display: flex;
    padding-right: 30px;

}

.nav-links a {
    margin-left: 20px;
    margin-right: 2vw;
    font-size: 20px;
    color: var(--black);
    text-decoration: none;
    transition: 100ms;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links .active {
    color: rgb(38, 137, 105);
}


.main-container {
    margin: 20px;
    margin-top: 100px;
}

a {
    color: var(--green-1);
    transition: 1000ms;
}

a:hover {
    color: var(--green-2);
}
