:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  list-style: none;

  padding: 0 10vw 0 10vw;

  background-image: url(src/assets/hill1.jpg);
  background-size: 200%;
  background-attachment: fixed;
  @media (max-width: 750px) {
    background-image: url(src/assets/hill2.jpg);
  }
  @media (min-width: 1100px) {
    background-image: url(src/assets/hill3.jpg);
  }
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(50, 50, 50);
  transform: scale(1.8);
  transition: transform 0.2s ease;
  /* TODO fix transform */
}

li {
  list-style: none;
  padding: 6px;
}




.hill-list-container {
  text-align: center;
  border: solid rgba(255, 255, 255, 0.87);
  padding-bottom: 16px;
  margin: 10px;
}

.hill-list-container h2 {
  text-decoration: underline;
}

.hills-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.page-heading {
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  text-align: center;
  /* TODO fix background width positioning */
}

