{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_hill.css') }}" />
<h1>Edit Hill</h1>
<hr>
<form action="" method="post" novalidate>

    {{ form.hidden_tag() }}


    <p>
        {{ form.title.label }}
        {{ form.title(size=32) }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.distance.label }} (km)
        {{ form.distance(size=32) }}
        {% for error in form.distance.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.height.label }} (m)
        {{ form.height(size=32) }}
        {% for error in form.height.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.latitude.label }}
        {{ form.latitude(size=32) }}
        {% for error in form.latitude.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.longitude.label }}
        {{ form.longitude(size=32) }}
        {% for error in form.longitude.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}