{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
<div class='login-container'>
    <h1>Log In</h1>
    <p>This app is currently in development. Login with the details: username=test, password=test</p>
    <hr style="width:100%;">
    <form class='login-form' action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id='remember-me'>
            {{ form.remember_me.label }}
            {{ form.remember_me() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}