{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='new-hill.css') }}" />
<div class="new-hill-container">
    <h1>Add New Hill</h1>
    <hr>
    <form action="" method="post" novalidate class="new-hill-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32, value=hill_data.title if hill_data else '') }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.distance.label }} (km)<br>
            {{ form.distance(size=32, value=hill_data.distance if hill_data else '') }}<br>
            {% for error in form.distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.height.label }} (m)<br>
            {{ form.height(size=32, value=hill_data.height if hill_data else '') }}<br>
            {% for error in form.height.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }} (h:m:s)<br>
            {{ form.time(size=32) }}<br>
            {% for error in form.time.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>    
        <p>
            {{ form.latitude.label }}<br>
            {{ form.latitude(size=32, value=hill_data.latitude if hill_data else '') }}<br>
            {% for error in form.latitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.longitude.label }}<br>
            {{ form.longitude(size=32, value=hill_data.longitude if hill_data else '') }}<br>       
            {% for error in form.longitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% set hill_titles = [] %}
    {% for hill in all_hills %}
        {% set _ = hill_titles.append(hill.title) %}
    {% endfor %}
</div>

<script>
    $(function() { 
        var availableTags = {{ hill_titles|safe }}; 
        $("#title").autocomplete({ 
            source: availableTags,
            select: function(event, ui) {
                var selectedHill = ui.item.value;
                $.ajax({
                    url: '/api/hill_data',
                    method: 'GET', 
                    success: function(response) {
                        var selectedHillData = response.find(function(hill) {
                            return hill.title === selectedHill;
                        });
                        if (selectedHillData) {
                            $("#distance").val(selectedHillData.distance);
                            $("#height").val(selectedHillData.height);
                            $("#latitude").val(selectedHillData.latitude);
                            $("#longitude").val(selectedHillData.longitude);
                        } else {
                            console.error('Selected hill not found in response');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching hill data:', error);
                    }
                });
            }
        }); 
    });
</script>

{% endblock %}