{% extends "base.html" %}
{% block content %}
<form action="">
    <label for="username">Username: </label>
    <input type="text" placeholder="Username" required/></br>
    <label for="email">Email: </label>
    <input type="email" placeholder="Email" required/></br>
    <label for="password">Password: </label>
    <input type="password" placeholder="Password" required/></br>
    <label for="password_conf">Repeat Password: </label>
    <input type="password" placeholder="Repeat Password" required/></br>
    <button type="submit">Register</button>
</form>
{% endblock %}